<h1>New Comment</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.article_comment_path(@conn, :create, @comment)) %>

<span><%= link "Back", to: Routes.article_comment_path(@conn, :index, @comment) %></span>
